.btn-outline-success:hover{
    color: white;
    background-color: gray;
    border-color: black;
}
.btn-outline-success{
    color: black;
    background-color: wheat;
    border-color: rosybrown;
}
.btn-outline-success:active{
    color: black !important;
    background-color: wheat !important;
    border-color: rosybrown !important;
}

.formulario{
    border-color: black;
}
.btn-primary:hover{
    color: white;
    background-color: gray;
    border-color: black;
}
.btn-primary{
    color: black;
    background-color: wheat;
    border-color: rosybrown;
}
.btn-primary:active{
    color: black !important;
    background-color: wheat !important;
    border-color: rosybrown !important;
}
